.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.TextOverflow{
  text-overflow: ellipsis;
  border: 1px solid;
  border-radius: 25px;
  padding: 1px 5px;
  white-space: nowrap;
  overflow: hidden;
}
.italic{
  font-style: italic;
  text-align: center;
}

.book-card {
  border :1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 16px;
  transition: all 0.3s ease;
  cursor: pointer;
}
.book-card:hover {
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);;
}

.book-card.selected {
  background-color: #f0f0f0;
  border-color: #c22121;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}